/****** OM MIG about.html ******/

/*** mobil ***/
/* overskrift section */
@media (max-width: 768px) {
  .about_main {
    background-image: url(billeder/gradient3.webp);
  }
  .sille_gram_overskrift {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    line-height: 0.2rem;
    padding: 20px;
  }
  .cv_overskrift {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    color: rgb(100, 100, 100);
  }

  .profil {
    padding: 20px;
    border-bottom: 0.8px solid rgb(166, 166, 166);
    border-top: 0.8px solid rgb(166, 166, 166);
  }
  .kompetencer {
    border-bottom: 0.8px solid rgb(166, 166, 166);
    padding: 20px;
  }
  .kontakt {
    border-bottom: 0.8px solid rgb(166, 166, 166);
    padding: 20px;
  }
  .uddannelse {
    border-bottom: 0.8px solid rgb(166, 166, 166);
    padding: 20px;
  }
  .fremtid {
    padding: 20px;
  }
  .portræt img {
    width: 100%;
  }
}

/*** desktop ***/
@media (min-width: 768px) {
  .about_main {
    background-image: url(billeder/gradient1.webp);
  }
  /* overskrift section */

  .sille_gram_overskrift {
    font-family: "Inter", sans-serif;
    font-size: 7rem;
    line-height: 3.5rem;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    line-height: 0.2rem;
    padding: 20px;
  }
  .cv_overskrift {
    font-family: "Inter", sans-serif;
    font-size: 7rem;
    font-weight: 200;
    color: rgb(100, 100, 100);
  }

  /* CV section */
  .cv_container {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    gap: 30px;
    border-bottom: 0.8px solid rgb(166, 166, 166);
    border-top: 0.8px solid rgb(166, 166, 166);
  }

  .profil {
    padding: 20px;
  }
  .kompetencer {
    border-left: 0.8px solid rgb(166, 166, 166);
    padding: 20px;
  }
  .kontakt {
    border-left: 0.8px solid rgb(166, 166, 166);
    padding: 20px;
  }
  .uddannelse {
    border-left: 0.8px solid rgb(166, 166, 166);
    padding: 20px;
  }

  /* fremtid section */
  .fremtid_section {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    gap: 30px;
    border-bottom: 0.8px solid rgb(166, 166, 166);
  }
  .fremtid {
    grid-column: 1/3;
    padding: 20px;
  }
  .portræt {
    grid-column: 4/5;
    display: flex;
  }
  .portræt img {
    width: 100%;
    object-fit: cover;
  }
}
.profil h1,
.kompetencer h1,
.kontakt h1,
.uddannelse h1,
.fremtid h1 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: rgb(100, 100, 100);
}

.profil p,
.kompetencer p,
.kontakt p,
.uddannelse p,
.fremtid p {
  font-family: "Inter", sans-serif;
  line-height: 2rem;
  font-weight: 300;
  color: rgb(100, 100, 100);
  font-size: 1rem;
}
